{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

<!-- mainbody -->
<div class="container-fluid">
  <!-- name -->
  <div class="container-fluid" id="name">
    <h1 style="color: rgb(179, 179, 160);" >Hi,<br/>
      I am <span style="color: rgb(237, 236, 236);">Aung Khant Phyo ,</span>
    </h1>
  </div>
  <!-- name -->
  <!-- paragraph -->
  <div class="container-fluid" id="paragraph" >
    <p style="color: rgb(179, 179, 160); text-align: center;" ><br/>
      "A highly motivated and enthusiastic individual with a passion for artificial intelligence and machine learning seeking a Junior Machine Learning Engineer role to utilize and further develop my technical skills and knowledge in a dynamic and challenging work environment. My goal is to contribute to innovative projects that make a positive impact and provide opportunities for continuous learning and growth as a machine learning engineer."
      <br/>
    </p>
  </div>
  <!-- paragraph -->
  <!-- image -->
  <div class="container-fluid" id="indeximg">
    <img src="/static/img/aa.jpg" class="img-fluid" alt="My img">
  </div>
  <!-- image -->
</div>
<!-- mainbody -->

{% endblock %}
