<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/boootstrap.min.css" rel="stylesheet" >
    <link href="/static/style.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg" >
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="/">
            <h6 id="logo">itsakphyo</h6>
          </a>
          <div class="nav__links">
            <a href="/about" class="btn btn-dark">About</a>
            <a href="/skill" class="btn btn-dark">Skills</a>
            <a href="/project" class="btn btn-dark">Project</a>
            <a href="/contact" class="btn btn-dark">Contact</a>
          </div>
        </div>
    </nav>

    <main >
      {% block main %}{% endblock %}
    </main>
  
  
    <footer class="mb-5 small text-center text-muted">
        Developed by Aung Khant Phyo
    </footer>

    <script src="/static/bootstrap.bundle.min.js"></script>
   
</body>
</html>