{% extends "layout.html" %}

{% block title %}
    Aung Khant Phyo
{% endblock %}

{% block main %}
<!-- main body -->
<div class="container-fluid mt-4">
  <!-- title -->
  <div class="row">
    <div class="col-md-8 m-auto text-center">
      <h2 class="text-center" style="color:silver"> My Projects</h2>
    </div>
  </div>
  <!-- title -->
  
  <!-- row -->
  <div class="row mt-4">

    <!-- col -->
    <div class="col-md-3">
      <div class="card" >
        <img src="/static/img/mushroom.webp" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body text-center">
          <h5 class="card-title">Mushroom Classifier</h5>
          <p class="card-text">Mushroom Classifier with python . The origin dataset is from UCI machine learning repository and decision tree classifier is used</p>
          
        </div>
      </div>
    </div>
    <!-- col -->

    <!-- col -->
    <div class="col-md-3">
      <div class="card" >
        <img src="/static/img/opcv.jpg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body text-center">
          <h5 class="card-title">Smart Trffic Light</h5>
          <p class="card-text">Object Detetction with python opencv and YOLO. Detect the numder of vehicles on the road with python liberaries. </p>
          
        </div>
      </div>
    </div>
    <!-- col -->

    <!-- col -->
    <div class="col-md-3">
      <div class="card" >
        <img src="/static/img/twsa.jpeg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body text-center">
          <h5 class="card-title">Sentiment Analysis On Twitter</h5>
          <p class="card-text">Sentiment analysis on twitter with python. </p>
          
        </div>
      </div>
    </div>
    <!-- col -->

    <!-- col -->
    <div class="col-md-3">
      <div class="card" >
        <img src="/static/img/port.png" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body text-center">
          <h5 class="card-title">Portfilio Website</h5>
          <p class="card-text">My portfilio website developed with html, css and  java. In my website, boootstrap is used for UI design.</p>
        </div>
      </div>
    </div>
    <!-- col -->

  </div>
  <!-- row -->

</div>
<!-- main body -->
{% endblock %}