{% extends "layout.html" %}

{% block title %}
    Aung Khant Phyo
{% endblock %}

{% block main %}
<!-- skills paragraph -->
<div class="container-fluid" id="skillsparagraph">
  <p style="color: rgb(179, 179, 160); text-align: center;" ><br/>
    " As a machine learning engineer, I am proficient in programming languages like Python and have hands-on experience with popular machine learning libraries such as TensorFlow, Keras, and scikit-learn. I have a solid understanding of supervised and unsupervised learning algorithms, neural networks, and deep learning techniques.I am always eager to learn and stay up-to-date with the latest developments in the field. "
    <br/>
  </p>
</div>
<!-- skills paragraph -->

<!-- skills progress bar -->
<div class="container-fluid col" id="skillsprogressbar">
  <div class="col-4">
    <h3 style="color: antiquewhite;">Good</h3>
    <h5 style="color: antiquewhite;">Python Numpy Matplotlib Pandas Scikit-learn</h5>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90"></div>
    </div>
  </div>
  <div class="col-4">
    <h3 style="color: antiquewhite;">Medium</h3>
    <h5 style="color: antiquewhite;">C GitHub Linux Flask HTML CSS Linix</h5>
    <div class="progress">
      <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65"></div>
    </div>
  </div>        
  <div class="col-4">
    <h3 style="color: antiquewhite;" >Have knowledge</h3>
    <h5 style="color: antiquewhite;">Tensorflow Java API </h5>
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50"></div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="col-4">
    <h5 style="color: antiquewhite;" >English language</h5>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"></div>
    </div>
  </div>
  <div class="col-4">
    <h5 style="color: antiquewhite;" >Japanese language</h5>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"></div>
    </div>
  </div>
</div>
<!-- skills progress bar -->
{% endblock %}